<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div class="col-md-4 col-md-offset-4">
      <div>
        <p>Profile Detail</p>
      </div>
      <div>
        <center>
          <table class="table table-hover text-center">
            <tr>
              <td>Name</td>
              <td><%= name %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= email %></td>
            </tr>
          </table>
        </center>
      </div>
      <div class="options">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#section1">Section 1</a></li>
          <li><a href="#section2">Section 2</a></li>
          <li><a href="#section3">Section 3</a></li>
          <li><a href="#section4">Section 4</a></li>
          <li><a href="#section5">Section 5</a></li>
        </ul>
      </div>
      <div class="abc">
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div id="section1">
      <!-- Content for Section 1 -->
    </div>
    <div id="section2">
      <!-- Content for Section 2 -->
    </div>
    <div id="section3">
      <!-- Content for Section 3 -->
    </div>
    <div id="section4">
      <!-- Content for Section 4 -->
    </div>
    <div id="section5">
      <!-- Content for Section 5 -->
    </div>
  </body>
</html>
